[tool.poetry]
name = "naturtag"
version = "0.7.0"
description = "A CLI tool to add iNaturalist taxonomy metadata to local observation photos"
authors = ["Jordan Cook"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/JWCook/naturtag"
repository = "https://github.com/JWCook/naturtag"
documentation = "https://naturtag.readthedocs.io"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Environment :: Win32 (MS Windows)",
    "Environment :: X11 Applications",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "Intended Audience :: Science/Research",
    "Typing :: Typed",
]
include = [
    { path = "*.kv" },
    { path = "*.md" },
    { path = "*.yml" },
    { path = "assets"},
    { path = "docs", format = "sdist" },
    { path = "test", format = "sdist" }
]

[tool.poetry.dependencies]
python = ">=3.9,<3.11"
attrs = ">=21.2"
click = ">=8.0"
click-help-colors = ">=0.9"
numpy = "^1.22"
pillow = ">=9.1"
platformdirs = ">=2.5"
pyexiv2 = ">=2.6.2"
pyinaturalist = ">=0.17.2dev2"
pyinaturalist-convert = ">=0.4.0dev5"
pyyaml = ">=6.0"
requests = ">=2.22"
rich = ">=10.0"
sqlalchemy = "^1.4.36"

# UI dependencies
pyside6 = {version = "^6.3.0", optional = true}
qtawesome = {version = "^1.1.1", optional = true}
qtmodern = {version = "^0.2", optional = true}

# Documentation dependencies needed for Readthedocs builds
furo                        = {optional=true, version="^2022.2.14.1"}
linkify-it-py               = {optional=true, version="^1.0.1"}
myst-parser                 = {optional=true, version="^0.17.0"}
sphinx                      = {optional=true, version="^4.5.0"}
sphinx-autodoc-typehints    = {optional=true, version="^1.17"}
sphinx-copybutton           = {optional=true, version=">=0.5"}
sphinx-inline-tabs          = {optional=true, version="^2022.1.2b11"}
sphinx-panels               = {optional=true, version="^0.6.0"}
sphinxcontrib-apidoc        = {optional=true, version="^0.3"}

[tool.poetry.dev-dependencies]
black = "^22.3.0"
coverage = "^6.3"
isort = "^5.10.1"
nox = "^2021.10.1"
nox-poetry = "^0.9.0"
pre-commit = "^2.16"
prettyprinter = "^0.18.0"
pyinstaller = "^5.0"
pytest = "^7.0"
pytest-cov = ">=3.0"
pytest-xdist = ">=2.2"

[tool.poetry.extras]
all = ["pyside6", "qtawesome", "qtmodern"]
ui =  ["pyside6", "qtawesome", "qtmodern"]
docs = ["furo", "linkify-it-py", "myst-parser", "sphinx", "sphinx-automodapi", "sphinx-autodoc-typehints",
        "sphinx-copybutton", "sphinx-inline-tabs", "sphinx-panels", "sphinxcontrib-apidoc"]

[tool.poetry.scripts]
nt = 'naturtag.cli:main'
naturtag = 'naturtag.cli:main'
naturtag-ui = 'naturtag.app.app:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
skip-string-normalization = true
line-length = 105

[tool.coverage.html]
directory = 'test-reports'

[tool.coverage.run]
branch = true
source = ['naturtag']

[tool.coverage.report]
exclude_lines = [
    'pragma: no cover',
    'if TYPE_CHECKING:',
]

[tool.isort]
profile = 'black'
line_length = 105
skip_gitignore = true
known_first_party = ['test']

[tool.mypy]
ignore_missing_imports = true
files = ['naturtag']
