[tool.poetry]
name = "naturtag"
version = "0.7.0"
description = "A CLI tool to add iNaturalist taxonomy metadata to local observation photos"
authors = ["Jordan Cook"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/JWCook/naturtag"
repository = "https://github.com/JWCook/naturtag"
documentation = "https://naturtag.readthedocs.io"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Environment :: Win32 (MS Windows)",
    "Environment :: X11 Applications",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "Intended Audience :: Science/Research",
    "Typing :: Typed",
]
include = [
    { path = "*.kv" },
    { path = "*.md" },
    { path = "*.yml" },
    { path = "assets"},
    { path = "docs", format = "sdist" },
    { path = "test", format = "sdist" }
]

[tool.poetry.dependencies]
python = ">=3.9,<3.11"
attrs = ">=21.2"
click = ">=8.0"
click-help-colors = ">=0.9"
numpy = "^1.22"
pillow = ">=9.0.1"
platformdirs = ">=2.5"
pyexiv2 = ">=2.6.2"
pyinaturalist = ">=0.17.1.dev0"
pyinaturalist-convert = ">=0.4.0dev1"
pyyaml = ">=6.0"
requests = ">=2.22"
rich = ">=10.0"
sqlalchemy = "^1.4.36"

# UI dependencies
pyside6 = {version = "^6.3.0", optional = true}
qtawesome = {version = "^1.1.1", optional = true}
qtmodern = {version = "^0.2", optional = true}

# Documentation dependencies needed for Readthedocs builds
# sphinx-material = {version = "^0.0.32", optional = true}
m2r2 = { version = ">=0.2.7", optional = true }
sphinx = { version = "^4.0.2", optional = true }
sphinx-autodoc-typehints = { version = "^1.11", optional = true }
sphinx-copybutton = { version = ">=0.3,<0.5", optional = true }
sphinx-rtd-theme = {version = ">=0.5.2,<1.1.0", optional = true}
sphinxcontrib-apidoc = { version = "^0.3", optional = true }

[tool.poetry.dev-dependencies]
black = "^22.3.0"
coverage = "^6.3"
isort = "^5.10.1"
nox = "^2021.10.1"
nox-poetry = "^0.9.0"
pre-commit = "^2.16"
prettyprinter = "^0.18.0"
pyinstaller = "^5.0"
pytest = "^7.0"
pytest-cov = ">=3.0"
pytest-xdist = ">=2.2"

[tool.poetry.extras]
all = ["pyside6", "qtawesome", "qtmodern"]
ui =  ["pyside6", "qtawesome", "qtmodern"]
docs = ["m2r2", "sphinx", "sphinx-autodoc-typehints", "sphinx-copybutton", "sphinx-rtd-theme",
        "sphinxcontrib-apidoc"]

[tool.poetry.scripts]
nt = 'naturtag.cli:main'
naturtag = 'naturtag.cli:main'
naturtag-ui = 'naturtag.app.app:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
skip-string-normalization = true
line-length = 105

[tool.coverage.html]
directory = 'test-reports'

[tool.coverage.run]
branch = true
source = ['naturtag']

[tool.isort]
profile = 'black'
line_length = 105
skip_gitignore = true
known_first_party = ['test']

[tool.mypy]
ignore_missing_imports = true
exclude = "/docs|downloads|dist|build|test/"
