[tool.poetry]
name = "naturtag"
version = "0.6.1"
description = "A CLI tool to add iNaturalist taxonomy metadata to local observation photos"
authors = ["Jordan Cook"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/JWCook/naturtag"
repository = "https://github.com/JWCook/naturtag"
documentation = "https://naturtag.readthedocs.io"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Environment :: Win32 (MS Windows)",
    "Environment :: X11 Applications",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "Intended Audience :: Science/Research",
    "Typing :: Typed",
]
include = [
    { path = "*.kv" },
    { path = "*.md" },
    { path = "*.yml" },
    { path = "assets"},
    { path = "docs", format = "sdist" },
    { path = "test", format = "sdist" }
]

[tool.poetry.dependencies]
python = "^3.7"
appdirs = ">=1.4"
attrs = "^21.2.0"
click = ">=8.0"
click-help-colors = ">=0.9"
pillow = ">=7.0"
pyexiv2 = ">=2.6.2"
pyinaturalist = "~=0.14.0"
pyyaml = "^5.4.1"
requests = ">=2.20"
requests-cache = ">=0.6.4,<0.8.0"
rich = ">=10.0"
xmltodict = "^0.12.0"

# UI dependencies
kivy = {version = ">=2.0.0", optional = true}
kivymd = {version = "^0.104.2", optional = true}
"kivy-garden.contextmenu" = {version = "*", optional = true}

# Documentation dependencies needed for Readthedocs builds
# sphinx-material = {version = "^0.0.32", optional = true}
m2r2 = { version = ">=0.2.7", optional = true }
sphinx = { version = "^4.0.2", optional = true }
sphinx-autodoc-typehints = { version = "^1.11", optional = true }
sphinx-copybutton = { version = ">=0.3,<0.5", optional = true }
sphinx-rtd-theme = {version = "^0.5.2", optional = true}
sphinxcontrib-apidoc = { version = "^0.3", optional = true }

[tool.poetry.dev-dependencies]
black = "21.6b0"
flake8 = "^3.9"
isort = "5.9.2" # locked until issue #1762 is fixed
mypy = "^0.910"
pre-commit = "^2.12"
prettyprinter = "^0.18.0"
pytest = "^6.2"
pytest-cov = ">=2.11"
pytest-xdist = ">=2.2"
types-python-dateutil = ">=0.1"
types-requests = ">=0.1"
# 'kivy_examples'
# 'memory_profiler'

[tool.poetry.extras]
all = ["kivy", "kivymd", "kivy-garden.contextmenu"]
app = ["kivy", "kivymd", "kivy-garden.contextmenu"]
docs = ["m2r2", "sphinx", "sphinx-autodoc-typehints", "sphinx-copybutton", "sphinx-rtd-theme",
        "sphinxcontrib-apidoc"]

[tool.poetry.scripts]
naturtag = 'naturtag.cli:main'
nt = 'naturtag.cli:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
skip-string-normalization = true
line-length = 105

[tool.coverage.html]
directory = 'test-reports'

[tool.coverage.run]
branch = true
source = ['naturtag']

[tool.isort]
profile = 'black'
line_length = 105
skip_gitignore = true
skip = [
    'naturtag/app/__init__.py',
    'naturtag/models/__init__.py',
    'naturtag/controllers/__init__.py',
    'naturtag/widgets/__init__.py',
]
known_first_party = ['test']

[tool.mypy]
ignore_missing_imports = true
exclude = "/docs|downloads|dist|build|test/"
