[Desktop Entry]
Type=Application
Name=Naturtag
Comment=Tag your nature photos with iNat taxonomy and observation metadata
Path=/opt/naturtag
Exec=/opt/naturtag/naturtag
Icon=naturtag
Categories=Science;Photography;Utility;
