name: Build

on:
  push:
    branches: [main]
    tags: ['v*']
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  LATEST_PY_VERSION: '3.14'
  COVERAGE_ARGS: '--cov --cov-report=term --cov-report=xml'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.14']

    steps:
      # Install dependencies, with caching
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
      - name: Install python + dependencies
        run: |
          uv python install ${{ matrix.python-version }}
          uv sync --extra docs
      - name: Install Qt dependencies
        run: sudo apt-get install -y libegl1

      # TODO: Need an alternate location for SQLite db
      # - name: Run CLI smoke test
      #   run: |
      #     source $VENV
      #     naturtag -cdo 45524803
      #     naturtag -cdt 48978
      - name: Run unit tests
        run: uv run pytest ${{ env.COVERAGE_ARGS }} test

      # TODO: Upload coverage report to codecov... once there's actual coverage to report
      # - name: "Upload coverage report to Codecov"
      #   if: ${{ matrix.python-version == env.LATEST_PY_VERSION }}
      #   uses: codecov/codecov-action@v3

  # Run code analysis checks via pre-commit hooks
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
      - name: Install python + dependencies
        run: |
          uv python install ${{ env.LATEST_PY_VERSION }}
          uv sync --no-dev
      - name: Run style checks & linting
        uses: j178/prek-action@v1
      - name: Scan dependencies for known vulnerabilities
        uses: pypa/gh-action-pip-audit@v1.1.0
        with:
          vulnerability-service: osv
          # Ignore issues with pip and setuptools versions used by the action itself
          ignore-vulns: |
            GHSA-4xh5-x5gv-qwph
            GHSA-rp8m-h266-53jh
