# Publish python package to PyPI:
# * Stable releases trigger on tags
# * Pre-releases are manual trigger only
name: Release-PyPI

on:
    push:
        tags:
            - 'v*'
            - '!v*a*'
            - '!v*b*'
            - '!v*rc*'
    workflow_dispatch:
        inputs:
            pre-release-suffix:
                description: 'Version suffix for pre-release package ("a", "b", "rc", etc.)'
                required: false
                default: ''
            pre-release-version:
                description: 'Version number for pre-release package (defaults to build number)'
                required: false
                default: ''
            publish:
                description: 'Publish package to PyPI'
                required: false
                default: 'true'

env:
    PYTHON_VERSION: '3.13'

# Required for creating a new release via trusted publisher
permissions:
    contents: write

jobs:
    release:
        if: |
            github.event.inputs.publish != 'false'
            && (startsWith(github.ref, 'refs/tags/v') || github.event.inputs.pre-release-suffix)
        runs-on: ubuntu-latest
        permissions:
            id-token: write
        steps:
            - uses: actions/checkout@v6
            - uses: astral-sh/setup-uv@v7
            - run: uv python install ${{ env.PYTHON_VERSION }}

            - name: Set pre-release version
              if: github.event.inputs.pre-release-suffix
              env:
                  pre-release-suffix: ${{ github.event.inputs.pre-release-suffix }}
                  pre-release-version: ${{ github.event.inputs.pre-release-version || github.run_number }}
              run: |
                  CURRENT_VERSION=$(uv run python -c 'import tomllib; print(tomllib.load(open('pyproject.toml', 'rb'))['project']['version'])')
                  NEW_VERSION='${CURRENT_VERSION}.${{ env.pre-release-suffix }}${{ env.pre-release-version }}'
                  sed -i 's/version = '${CURRENT_VERSION}'/version = '${NEW_VERSION}'/' pyproject.toml
                  echo 'Updated version to ${NEW_VERSION}'

            - name: Build package distributions
              run: uv build
            - name: Publish package distributions to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
