name: Test

on:
  push:
    branches: [main]
    tags: ['v*']
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  LATEST_PY_VERSION: '3.14'
  COV_FORMATS: 'term html'
  PYTEST_VERBOSE: 'true'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.14', '3.13']
      fail-fast: false

    steps:
      # Install dependencies, with caching
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
      - name: Install python + dependencies
        run: |
          uv python install ${{ matrix.python-version }}
          uv sync
      - name: Install Qt dependencies
        run: sudo apt-get update && sudo apt-get install -y libegl1

      # TODO: Need an alternate location for SQLite db
      # - name: Run CLI smoke test
      #   run: |
      #     source $VENV
      #     naturtag -cdo 45524803
      #     naturtag -cdt 48978
      - name: Run unit tests
        run: uv run nox -e cov -- ${{ env.COV_FORMATS }}

      # Upload coverage report to codecov
      - name: 'Upload coverage report to Codecov'
        if: ${{ matrix.python-version == env.LATEST_PY_VERSION }}
        uses: codecov/codecov-action@v5

  # Run code analysis checks via pre-commit hooks
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
      - name: Install python + dependencies
        run: |
          uv python install ${{ env.LATEST_PY_VERSION }}
          uv sync --no-dev
      - name: Run style checks & linting
        uses: j178/prek-action@v1

      # Note: pip-audit currently fails in check for  GHSA-rp8m-h266-53jh with:
      #   packaging.version.InvalidVersion: Invalid version: '0.8.3ubuntu7.5'
      # - name: Scan dependencies for known vulnerabilities
      #   uses: pypa/gh-action-pip-audit@v1.1.0
      #   with:
      #     vulnerability-service: osv
      #     # Ignore issues with pip and setuptools versions used by the action itself
      #     ignore-vulns: |
      #       GHSA-4xh5-x5gv-qwph
